<!-- @format -->

/* eslint-disable no-console */
<!-- @format -->

<template>
	<div class="home">
		<v-app-bar fixed app light clipped-left color="primary" class="elevation-2">
			<v-app-bar-nav-icon class="white--text"></v-app-bar-nav-icon>
			<v-toolbar-title class="white--text">face scan</v-toolbar-title>
		</v-app-bar>
		<video id="cam_feed" height="100" width="100" autoplay muted></video>
		<div id="emotions">
			<center>
				<p style="color:white">
					we want to know your sentiments to enhance your experience with the
					app, send us a selfie.<br />
					<span style="color:red"
						>your information is private we only use the sentiment data</span
					>
				</p>
				<table>
					<tr>
						<td colspan="2" style="position:relative;">
							<center>
								<div style="position:relative;height:100px;width:100px;">
									<canvas id="canvas_feed" height="100" width="100"></canvas>
									<!--progressbar-->
									<v-progress-circular
										v-if="loading"
										:indeterminate="true"
										:rotate="0"
										:size="50"
										:value="0"
										:width="4"
										color="light-blue"
										style="position:absolute;top:25%;left:25%;right:0;bottom:0;"
									/>
									<!--end progressbar-->
								</div>
							</center>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<center>
								{{ age }}
							</center>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<center>
								{{ gender }}
							</center>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<center id="center">
								<canvas id="chart" width="400" height="200"></canvas>
							</center>
						</td>
					</tr>
				</table>
			</center>
		</div>

		<v-btn
			title="close"
			@click="CloseFaceScan()"
			fixed
			dark
			fab
			left
			bottom
			color="yellow"
			class="black--text"
			style="margin-right:5%;margin-bottom:170px;z-index:99"
		>
			<v-icon>mdi-close</v-icon>
		</v-btn>
		<v-btn
			title="send data"
			@click="sendDataToServer()"
			fixed
			dark
			fab
			left
			bottom
			color="blue"
			class="white--text"
			style="margin-right:5%;margin-bottom:100px;z-index:99"
		>
			<v-icon>mdi-send</v-icon>
		</v-btn>
		<v-btn
			title="take a selfie"
			@click="detectFaceModel2()"
			fixed
			dark
			fab
			left
			bottom
			color="red"
			class="white--text"
			style="margin-right:5%;margin-bottom:30px;z-index:99"
		>
			<v-icon>mdi-camera</v-icon>
		</v-btn>

		<v-snackbar v-model="snackbar" :timeout="0" top>
			{{ snackbar_message }}
			<v-btn color="blue" text @click="snackbar = false">
				Close
			</v-btn>
		</v-snackbar>
	</div>
</template>

<style scoped>
	#cam_feed {
		position: fixed;
		margin: 0;
		padding: 0;
		z-index: 1;
		background: #000;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: 100%;
		/*flip camera horizontal*/
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	#canvas_feed {
		border: '1px solid black';
		background: white;
		/*flip camera horizontal*/
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		box-shadow: 0px 0px 5px #000;
		-webkit-box-shadow: 0px 0px 5px #000;
		border-radius: 5px;
	}
	#emotions {
		min-height: 200px;
		border-radius: 50px;
		z-index: 2;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: white;
	}
	#emotions table {
		/*background: rgba(0, 0, 0, 0.4);*/
		margin: 20px;
		padding: 20px;
		border-radius: 4px;
	}
	.fab-container {
		position: absolute;
		bottom: 15%;
		left: 25px;
		background: red;
		z-index: 100;
	}
</style>

<script>
	//var utils = require('@/assets/libs/face_api/utils.js');
	import * as faceapi from 'face-api.js';
	import { server_api_endpoint } from '../globals.js';
	import axios from 'axios';

	import Chart from 'chart.js';

	var vm = null;
	export default {
		name: 'faceScan',
		mounted() {
			vm = this;
			// eslint-disable-next-line no-console
			//console.log('faceapi.nets', faceapi.nets);
			// eslint-disable-next-line no-console
			console.log('mounted face scan');
			vm.cam_feed = document.getElementById('cam_feed');
			vm.canvas_feed = document.getElementById('canvas_feed');

			//load all the models
			// Promise.all([
			// 	faceapi.nets.ssdMobilenetv1.loadFromUri(
			// 		`${server_api_endpoint}/Models/GetModel`
			// 	),
			// 	faceapi.nets.tinyFaceDetector.loadFromUri(
			// 		`${server_api_endpoint}/Models/GetModel`
			// 	),
			// 	faceapi.nets.tinyYolov2.loadFromUri(
			// 		`${server_api_endpoint}/Models/GetModel`
			// 	),
			// 	faceapi.nets.mtcnn.loadFromUri(
			// 		`${server_api_endpoint}/Models/GetModel`
			// 	),
			// 	faceapi.nets.faceLandmark68Net.loadFromUri(
			// 		`${server_api_endpoint}/Models/GetModel`
			// 	),
			// 	faceapi.nets.faceLandmark68TinyNet.loadFromUri(
			// 		`${server_api_endpoint}/Models/GetModel`
			// 	),
			// 	faceapi.nets.faceRecognitionNet.loadFromUri(
			// 		`${server_api_endpoint}/Models/GetModel`
			// 	),
			// 	faceapi.nets.faceExpressionNet.loadFromUri(
			// 		`${server_api_endpoint}/Models/GetModel`
			// 	),
			// 	faceapi.nets.ageGenderNet.loadFromUri(
			// 		`${server_api_endpoint}/Models/GetModel`
			// 	),
			// ]).then(() => {
			// 	vm.StartFaceScan();
			// });
			vm.StartFaceScan();
			vm.initEmotionsChart();
		},
		data() {
			return {
				cam_feed: null,
				stream: null,
				canvas_feed: null,
				snackbar_message: 'Tap screen to start',
				snackbar: true,
				loading: false,
				age: 0,
				gender: '',
				busy_face_detection: false,
				busy_get_face_detection: false,
				emotions: {
					neutral: 1,
					happy: 1,
					sad: 1,
					angry: 1,
					fearful: 1,
					disgusted: 1,
					surprised: 1,
				},
				myChart: null, //emotions chart
			}; //return{}
		}, //data(){}

		methods: {
			//
			initEmotionsChart() {
				var emotionChartData = {
					type: 'horizontalBar',
					data: {
						labels: [
							'Neutral',
							'Happy',
							'Sad',
							'Angry',
							'Fearful',
							'Disgusted',
							'Surprised',
						],
						datasets: [
							{
								// one line graph
								label: 'Emotions',
								//data: [0, 0, 1, 2, 67, 62, 27],
								data: [
									vm.emotions.neutral,
									vm.emotions.happy,
									vm.emotions.sad,
									vm.emotions.angry,
									vm.emotions.fearful,
									vm.emotions.disgusted,
									vm.emotions.surprised,
								],
								backgroundColor: [
									'rgba(0,0,255,.5)', // Blue
									'rgba(0,255,0,.5)',
									'rgba(255,0,222,.5)',
									'rgba(255,0,0,.5)',
									'rgba(54,255,228,.5)',
									'rgba(255,234,93,.5)',
									'rgba(255,174,93,.5)',
								],
								/*borderColor: [
										'#36495d',
										'#36495d',
										'#36495d',
										'#36495d',
										'#36495d',
										'#36495d',
										'#36495d',
									],*/
								///borderWidth: 3,
							},
						],
					},
					plugins: {
						datalabels: {
							color: '#ffffff',
						},
					},
					options: {
						plugins: {
							datalabels: {
								color: '#ffffff',
							},
						},
						legend: {
							display: false,
							labels: {
								fontColor: '#fff',
							},
						},

						responsive: true,
						lineTension: 1,
						scales: {
							yAxes: [
								{
									ticks: {
										beginAtZero: true,
										padding: 25,
									},
								},
							],
						},
					},
				};
				const ctx = document.getElementById('chart');
				vm.myChart = new Chart(ctx, {
					type: emotionChartData.type,
					data: emotionChartData.data,
					options: emotionChartData.options,
				});
			},
			//
			CloseFaceScan() {
				try {
					//document.body.remove(vm.canvas_feed);
					vm.stream.getTracks().forEach(function(track) {
						track.stop();
					});
				} catch (e) {
					// eslint-disable-next-line no-console
					console.error(e);
				}
				vm.stream = null;
				vm.$router.push('/'); //go home
			},
			getHighestSentiment() {
				///method to get the highest sentiment
				var highest = 'neutral';
				var highest_ = vm.emotions.neutral;
				// eslint-disable-next-line no-console
				console.log('emoticons', vm.emotions);
				//
				if (vm.emotions.happy > highest_) {
					highest_ = vm.emotions.happy;
					highest = 'happy';
				}
				if (vm.emotions.sad > highest_) {
					highest_ = vm.emotions.sad;
					highest = 'sad';
				}
				if (vm.emotions.angry > highest_) {
					highest_ = vm.emotions.angry;
					highest = 'angry';
				}
				if (vm.emotions.fearful > highest_) {
					highest_ = vm.emotions.fearful;
					highest = 'fearful';
				}
				if (vm.emotions.disgusted > highest_) {
					highest_ = vm.emotions.disgusted;
					highest = 'disgusted';
				}
				if (vm.emotions.surprised > highest_) {
					highest_ = vm.emotions.surprised;
					highest = 'surprised';
				}
				return highest;
			},
			sendDataToServer() {
				///send the scan results to the server
				if (vm.gender == null || vm.gender == '' || vm.age == 0) {
					vm.$swal('Warning', 'No sentiments have been detected', 'warning');
					return;
				}
				var sentiment_ = {
					date: new Date(),
					company: vm.$route.params.company,
					gender: vm.gender,
					age: vm.age,
					sentiment: vm.getHighestSentiment(),
				};
				vm.loading = true;
				axios({
					method: 'POST',
					url: `${server_api_endpoint}/Posts/UploadSentiments`,
					data: sentiment_,
					headers: {
						'Content-Type': 'application/json',
					},
				})
					.then((response) => {
						vm.loading = false;
						var json = response.data;
						if (json.res == 'ok') {
							vm.$swal('Success', 'Thank you for your feedback', 'success');
							vm.$router.push('/'); //go back to home page;
						} else {
							vm.$swal('Error', 'Error ocurred, try again', 'error');
						}
					})
					.catch((e) => {
						// eslint-disable-next-line no-console
						console.error(e);
						vm.$swal('Error', 'Network error, try again', 'error');
					});
			},
			StartFaceScan() {
				//define the video contraints
				var video_contstraints = {
					video: {
						facingMode: {
							exact: 'user',
						},
						width: 100,
						height: 100,
					},
				};
				//
				if (navigator.getUserMedia) {
					navigator.getUserMedia(
						video_contstraints,
						function(stream) {
							vm.stream = stream; //set the stream reference
							vm.cam_feed = document.getElementById('cam_feed');
							vm.cam_feed.srcObject = vm.stream; //set the stream
							document.addEventListener('click', function() {
								vm.cam_feed.play();
								vm.snackbar = false;
							});
						},
						function() {
							vm.$swal('Error', 'Cannot access camera', 'error');
							vm.CloseFaceScan();
							return;
						}
					);
				} else {
					vm.$swal('Error', 'Cannot access camera', 'error');
					vm.CloseFaceScan();
					return;
				}
			},
			async detectFaceModel2Image(imgData) {
				///implementation of the model2 with imgData passed in
				// Replace <Subscription Key> with your valid subscription key.
				var subscriptionKey = 'ecac100f1d8248d2807f4a5e6fa59175';
				var uriBase =
					'https://faceapiroguepwatelepathy.cognitiveservices.azure.com/face/v1.0/detect';

				// Request parameters.
				var params = {
					returnFaceId: 'true',
					returnFaceLandmarks: 'false',
					returnFaceAttributes:
						'age,gender,headPose,smile,facialHair,glasses,emotion,' +
						'hair,makeup,occlusion,accessories,blur,exposure,noise',
				};

				// Perform the REST API call.
				var ajax = axios({
					method: 'POST',
					url: uriBase,
					mode: 'no-cors',
					//withCredentials: false,
					credentials: 'same-origin',
					headers: {
						'Content-Type': 'application/octet-stream',
						//'Content-Type': 'application/json',
						'Ocp-Apim-Subscription-Key': subscriptionKey,
						'Access-Control-Allow-Origin': '*',
						'Access-Control-Allow-Credentials': true,
						'Access-Control-Allow-Methods':
							'GET, POST, PATCH, PUT, DELETE, OPTIONS',
						'Access-Control-Allow-Headers':
							'Origin, Content-Type, X-Auth-Token',
					},
					params: params,
					data: imgData,
					//data: '{"url": "https://upload.wikimedia.org/wikipedia/commons/c/c3/RH_Louise_Lillian_Gish.jpg"}',
				});
				ajax
					.then((response) => {
						vm.loading = false;
						if (response.data[0] == null) {
							vm.snackbar_message = 'No face detected, try again';
							vm.snackbar = true;
							return;
						}
						var detections = response.data[0].faceAttributes; //response comes back as an array
						// eslint-disable-next-line no-console
						console.log('response', detections);

						if (detections != null) {
							//map the emotions
							vm.emotions.neutral = detections.emotion.neutral;
							vm.emotions.happy = detections.emotion.happiness;
							vm.emotions.sad = detections.emotion.sadness;
							vm.emotions.angry = detections.emotion.anger;
							vm.emotions.fearful = detections.emotion.fear;
							vm.emotions.disgusted = detections.emotion.disgust;
							vm.emotions.surprised = detections.emotion.surprise;

							//scale so nothing is too small
							vm.emotions.neutral *= 10;
							vm.emotions.happy *= 10;
							vm.emotions.sad *= 10;
							vm.emotions.angry *= 10;
							vm.emotions.fearful *= 10;
							vm.emotions.disgusted *= 10;
							vm.emotions.surprised *= 10;

							vm.gender = detections.gender; //set the gender
							vm.age = Math.round(detections.age); //set the age
							vm.myChart.data.datasets[0].data = [
								//set the data for the graphs
								vm.emotions.neutral,
								vm.emotions.happy,
								vm.emotions.sad,
								vm.emotions.angry,
								vm.emotions.fearful,
								vm.emotions.disgusted,
								vm.emotions.surprised,
							];
							vm.myChart.update();
							vm.snackbar = false;
							detections = null;
						} else {
							vm.snackbar = true;
							vm.snackbar_message = 'No face detected';
						}
					})
					.catch((e) => {
						// eslint-disable-next-line no-console
						console.error('e', e);
						vm.$swal('Camera Error2', 'An error occured, try again', 'error');
						vm.loading = false;
					});
			},
			async detectFaceModel2() {
				///uses the azure cognitive api
				try {
					vm.loading = true;
					//draws face onto the canvas
					var context = vm.canvas_feed.getContext('2d');
					context.clearRect(0, 0, 100, 100);
					context.drawImage(vm.cam_feed, 0, 0, 100, 100);
					//
					var imgData = null;
					await vm.canvas_feed.toBlob(function(blob) {
						imgData = blob;
						vm.detectFaceModel2Image(imgData);
						// eslint-disable-next-line no-console
						console.log('imgData', imgData);
					}, 'image/png');
				} catch (e) {
					vm.loading = false;
					vm.$swal('Camera Error1', 'An error occured, try again', 'error');
				}
			},
			async detectFaceModel1() {
				///using the face-api.js library make the predictions

				//draws face onto the canvas
				var context = vm.canvas_feed.getContext('2d');
				context.clearRect(0, 0, 100, 100);
				context.drawImage(vm.cam_feed, 0, 0, 100, 100);
				//
				var detections = await faceapi
					.detectSingleFace(
						vm.canvas_feed,
						new faceapi.TinyFaceDetectorOptions({
							inputSize: 320,
							scoreThreshold: 0.1,
						})
					)
					.withFaceLandmarks()
					.withFaceExpressions()
					.withAgeAndGender()
					.withFaceDescriptor();
				// eslint-disable-next-line no-console
				console.log('detections', detections);
				//
				if (detections != null) {
					vm.emotions = detections.expressions; //set the emotions
					vm.gender = detections.gender; //set the gender
					vm.age = Math.round(detections.age); //set the age
					vm.myChart.data.datasets[0].data = [
						vm.emotions.neutral,
						vm.emotions.happy,
						vm.emotions.sad,
						vm.emotions.angry,
						vm.emotions.fearful,
						vm.emotions.disgusted,
						vm.emotions.surprised,
					];
					vm.myChart.update();
					vm.snackbar = false;
					detections = null;
				} else {
					vm.snackbar = true;
					vm.snackbar_message = 'No face detected';
				}
			},
		},
	};
</script>
