<!-- @format -->

<template>
	<div class="home">
		<SideMenu
			:drawer="drawer"
			:api_key="api_key"
			@selectsource="setResource"
		></SideMenu>

		<v-app-bar fixed app light clipped-left color="primary" class="elevation-2">
			<v-app-bar-nav-icon
				@click="drawer = !drawer"
				class="white--text"
			></v-app-bar-nav-icon>
			<v-toolbar-title class="white--text">telepathy</v-toolbar-title>
		</v-app-bar>

		<v-content style="overflow-y:hidden;height:100vh;">
			<!--camfeed direct from camera-->
			<video id="cam_feed" height="100" width="100" v-show="ar_mode"></video>
			<canvas
				id="canvas_feed"
				height="100"
				width="100"
				style="border:1px solid red;display:none;z-index:3"
			></canvas>
			<!-- video ar overlay puled from server-->
			<div class="ar_bg" v-show="ar_mode">
				<video
					id="ar_video_overlay"
					height="100"
					width="100"
					muted
					autoplay
					loop
					controls
					webkit-playsinline="true"
					playsinline="true"
				></video>
			</div>
			<!--posts-->
			<v-container v-if="!ar_mode" fluid>
				<!--The MainContent Component go here-->
				<MainContent :articles="articles"> </MainContent>
				<!--end The MainContent Component go here-->
				<!--progressbar-->
				<v-layout row wrap align-center justify-center>
					<v-flex xs10 sm10 md8 xl8>
						<v-progress-circular
							v-if="loading"
							:indeterminate="true"
							:rotate="0"
							:size="72"
							:value="0"
							:width="4"
							color="light-blue"
							style="position:relative;top:50%;left:50%;right:50%;z-index:1;"
						/>
					</v-flex>
				</v-layout>
				<!--end progressbar-->
			</v-container>
		</v-content>

		<!--floating action button-->
		<v-btn
			v-if="!ar_mode"
			@click="StartARMode()"
			dark
			fab
			fixed
			bottom
			right
			color="red"
			class="white--text"
			style="margin-right:5%;margin-bottom:8%;z-index:99"
		>
			<v-icon>mdi-camera</v-icon>
		</v-btn>
		<!--end floating action button-->

		<!--floating action button-->
		<v-btn
			v-if="ar_mode"
			@click="CloseArMode()"
			fixed
			dark
			fab
			bottom
			right
			color="red"
			class="white--text"
			style="margin-right:5%;margin-bottom:8%;z-index:99"
		>
			<v-icon>mdi-close</v-icon>
		</v-btn>
		<!--end floating action button-->

		<v-snackbar v-model="snackbar" :timeout="0">
			{{ snackbar_message }}
			<v-btn color="blue" text @click="snackbar = false">
				Close
			</v-btn>
		</v-snackbar>
	</div>
</template>

<style>
	.v-time-ago__text {
		color: white;
	}
	.ar_bg {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 100%;
		width: 100%;
		z-index: 2;
	}
	#ar_video_overlay {
		display: none;
		position: fixed;
		height: auto;
		width: 80%;
		background: rgba(0, 0, 0, 0);
		z-index: 2;
		-moz-box-shadow: 0 0 5px #000;
		-webkit-box-shadow: 0 0 5px #000;
		-o-box-shadow: 0 0 5px#000;
		box-shadow: 0 0 5px #000;
		border-radius: 10px;
	}
	#cam_feed {
		display: block;
		position: fixed;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: 100%;
		margin: 0;
		padding: 0;
		background: #000;
		z-index: 1;
	}
</style>

<script>
	import axios from 'axios'; //importing the axios a HTTP library to connects the app with the API
	import SideMenu from '../components/SideMenu.vue'; // import the SideMenu component
	import MainContent from '../components/MainContent.vue'; // import the MainContent component
	var guid = require('uuid/v1');
	import { server_api_endpoint } from '../globals.js';
	//
	var cv = require('opencv.js');
	//var utils = require('@/assets/libs/opencv/utils.js');
	var vm = null;
	export default {
		components: {
			SideMenu,
			MainContent,
		},
		data() {
			return {
				drawer: true, // true to show/hide the side navigation drawer
				api_key: 'Put_Your_API_Key_Here',
				articles: [],
				errors: [],
				loading: false,
				snackbar: false,
				snackbar_message: null,
				ar_video_time: 0, //this initial value is the default,is decremented untill depleted then video must hide, it is reset to default when detection happens
				//ar stuff
				ar_mode: false,
				ar_video_overlay: null,
				ar_source: null, //this is the selected company the entire object
				cam_feed: null,
				stream: null,
				canvas_feed: null,
				src: null,
				dst: null,
				gray: null,
				cap: null,
				faces: null,
				classifier: null,
				FPS: 24, //frames per second
				guid: null,
				//three.js stuff
				camera: null,
				scene: null,
				renderer: null,
				geometry: null,
				material: null,
				mesh: null,
			};
		},

		//todo: pull the first item on the sources
		created() {
			// axios.get('https://newsapi.org/v2/top-headlines?sources=techcrunch&apiKey='+this.api_key)
			//   .then(response => {
			//     this.articles = response.data.articles
			//     console.log('data:')
			//     console.log(response.data.articles)
			//   .catch(e => {
			//     this.errors.push(e)
			//   })
			// })
		},
		mounted: function() {
			vm = this;
			vm.ar_video_overlay = document.getElementById('ar_video_overlay');
			// eslint-disable-next-line no-console
			console.log('mounted');
			// eslint-disable-next-line no-console
			console.log('height', window.innerHeight);
			// eslint-disable-next-line no-console
			console.log('width', window.innerWidth);
			// var docWidth = document.documentElement.offsetWidth;
			// // eslint-disable-next-line no-console
			// console.log('docWidth', docWidth);
			// var els = document.querySelectorAll('*');
			// els.forEach(function(el) {
			// 	if (el.offsetWidth >= docWidth) {
			// 		// eslint-disable-next-line no-console
			// 		console.log(el);
			// 		//el.offsetWidth
			// 	}
			// });

			// document.getElementById('ar_video_overlay').height = window.innerHeight;
			// document.getElementById('ar_video_overlay').width = window.innerWidth;
			//vm.$router.push('faceScan');
			vm.$router.push({
				name: 'faceScan',
				params: { company: 'rubiem@gmail.com' },
			});
		},
		methods: {
			CloseArMode() {
				//shut down the ar mode
				vm.ar_mode = false;
				//close all the streams from the camera
				vm.stream.getTracks().forEach(function(track) {
					track.stop();
				});
				vm.stream = null;
				vm.drawer = true;

				//vm.ar_source = null;
				vm.cam_feed = null;
				vm.stream = null;
				vm.canvas_feed = null;
				vm.src = null;
				vm.dst = null;
				vm.gray = null;
				vm.cap = null;
				vm.faces = null;
				vm.classifier = null;
				vm.closeArVideo();
			},
			StartARMode() {
				//define the video contraints
				var video_contstraints = {
					video: {
						facingMode: {
							exact: 'user',
							//exact: 'environment',
						},
						width: 100,
						height: 100,
					},
				};

				if (this.ar_source == null) {
					alert('null');
					return;
				}
				if (navigator.getUserMedia) {
					navigator.getUserMedia(
						video_contstraints,
						function(stream) {
							//start the ar
							vm.ar_mode = true;
							vm.drawer = false; //hide drawer so user has more space
							vm.cam_feed = document.getElementById('cam_feed');
							vm.canvas_feed = document.getElementById('canvas_feed');
							vm.stream = stream; //set the stream reference
							vm.cam_feed.srcObject = vm.stream; //set the stream
							vm.cam_feed.play();
							vm.initOpenCV();
							vm.initArVideo();
						},
						function() {
							// eslint-disable-next-line no-console
							console.error('cannot access camera');
							//error occured
							vm.$swal('Error', 'Cannot access camera', 'error');
							vm.CloseArMode();
							return;
						}
					);
				} else {
					vm.$swal('Error', 'Cannot access camera', 'error');
					vm.CloseArMode();
					return;
				}
			},
			animate() {
				///used by the three.js to animate the scene
				requestAnimationFrame(vm.animate);

				vm.mesh.rotation.x += 0.01;
				vm.mesh.rotation.y += 0.02;

				vm.renderer.render(vm.scene, vm.camera);
			},
			closeArVideo() {
				///closes the ar overlay video
				vm.ar_video_overlay.pause();
			},
			initArVideo() {
				///display the overlay_video
				vm.ar_video_overlay.src = `${server_api_endpoint}/Company/GetVideo?company_email=${vm.ar_source.email}`;
				var promise = vm.ar_video_overlay.play();

				vm.ar_video_overlay.addEventListener('play', function() {
					vm.snackbar = false;
				});

				if (promise !== undefined) {
					promise
						.then(() => {
							// Autoplay started!
							vm.snackbar = false;
							vm.snackbar_message = null;
						})
						.catch(() => {
							// Autoplay was prevented.
							// notify user with snackbar.
							//vm.snackbar = true;
							//vm.snackbar_message = 'tap video to play';
						});
				}
				//ar_video_overlay.muted = false;
			},
			initOpenCV() {
				///init the open cv, open cv only scans and detects the presence of the object

				// Loading classifier
				vm.classifier = new cv.CascadeClassifier();
				let haarcascade_file = vm.ar_source.haarfile; // path to haarfile.xml
				vm.createFileFromUrl(haarcascade_file, haarcascade_file, () => {
					try {
						// in the callback, load the cascade from file
						var res = vm.classifier.load(`${vm.guid}${haarcascade_file}`);
						if (!res) {
							vm.$swal('Error', 'Failed to load haarfile', 'error');
							vm.CloseArMode();
							return;
						}
					} catch (e) {
						vm.$swal('Error', 'Failed to load haarfile', 'error');
						vm.printCVError(e);
					}
					// eslint-disable-next-line no-console
					console.log('loaded classifier');
					//procceed with program execution
					vm.src = new cv.Mat(
						vm.cam_feed.height,
						vm.cam_feed.width,
						cv.CV_8UC4
					);
					vm.dst = new cv.Mat(
						vm.cam_feed.height,
						vm.cam_feed.width,
						cv.CV_8UC1
					);
					vm.gray = new cv.Mat();
					vm.cap = new cv.VideoCapture(vm.cam_feed);
					vm.faces = new cv.RectVector();
					//begin processing the video
					vm.processVideo();
				});
			},
			checkVideoTime(detections) {
				///funciton to check the video is still being detected
				// eslint-disable-next-line no-console
				console.log('vm.ar_video_time', vm.ar_video_time);
				if (detections == 0) {
					if (vm.ar_video_time > 0) {
						vm.ar_video_time -= 10; //decrement when no detections but no less than 0
					}
				} else {
					if (vm.ar_video_time < 100) {
						vm.ar_video_time += 10; //increment when detections but no more than 100
					}
				}
				//
				if (vm.ar_video_time == 0) {
					//hide video
					vm.ar_video_overlay.style.display = 'none';
				} else {
					//show video
					vm.ar_video_overlay.style.display = 'block';
				}
			},
			processVideo() {
				///function to do the actual object detection
				//let begin = Date.now();

				vm.cap.read(vm.src);
				vm.src.copyTo(vm.dst);
				cv.cvtColor(vm.dst, vm.gray, cv.COLOR_RGBA2GRAY, 0);
				try {
					vm.classifier.detectMultiScale(vm.gray, vm.faces, 1.1, 3, 0);
					vm.checkVideoTime(vm.faces.size());
				} catch (err) {
					// eslint-disable-next-line no-console
					console.error(err);
				}
				for (let i = 0; i < vm.faces.size(); ++i) {
					let face = vm.faces.get(i);
					let point1 = new cv.Point(face.x, face.y);
					let point2 = new cv.Point(face.x + face.width, face.y + face.height);
					cv.rectangle(vm.dst, point1, point2, [255, 0, 0, 255]);
				}
				cv.imshow('canvas_feed', vm.dst);
				// schedule next one.
				//let delay = 1000 / vm.FPS - (Date.now() - begin);
				if (vm.ar_mode) {
					//only run if still in ar mode
					//setTimeout(vm.processVideo, delay);
					setTimeout(vm.processVideo, 100);
				}
			},
			createFileFromUrl(path, url, callback) {
				///method to generate a file to be loaded by the opencv classifier
				vm.guid = guid(); //generate a unique guid and prepend to path filename
				vm.loading = true;
				///fetch haar file from url
				url = `${server_api_endpoint}/Company/GetHaarfile?haarfile=${url}`;
				// eslint-disable-next-line no-console
				console.log('url', url);
				let request = new XMLHttpRequest();
				request.open('GET', url, true);
				request.responseType = 'arraybuffer';
				request.onload = function() {
					if (request.readyState === 4) {
						if (request.status === 200) {
							try {
								let data = new Uint8Array(request.response);
								// eslint-disable-next-line no-console
								//console.log('data', data);
								//write the file to the path then load it in the callback
								//pre-pend file path with date to make it unique
								var r = cv.FS_createDataFile(
									'/',
									`${vm.guid}${path}`,
									data,
									true,
									false,
									false
								);
								// eslint-disable-next-line no-console
								console.log('r', r);
								callback();
							} catch (e) {
								// eslint-disable-next-line no-console
								console.log('re');
								vm.printCVError(e);
							}
						} else {
							// eslint-disable-next-line no-console
							vm.$swal('Network Error', 'Failed to fetch haarfile', 'error');
							vm.CloseArMode();
						}
					}
				};
				request.send();
			},
			printCVError(err) {
				///must print an open cv encoded error
				if (typeof err === 'undefined') {
					err = '';
				} else if (typeof err === 'number') {
					if (!isNaN(err)) {
						if (typeof cv !== 'undefined') {
							err = 'Exception: ' + cv.exceptionFromPtr(err).msg;
						}
					}
				} else if (typeof err === 'string') {
					let ptr = Number(err.split(' ')[0]);
					if (!isNaN(ptr)) {
						if (typeof cv !== 'undefined') {
							err = 'Exception: ' + cv.exceptionFromPtr(ptr).msg;
						}
					}
				} else if (err instanceof Error) {
					err = err.stack.replace(/\n/g, '<br>');
				}
				// eslint-disable-next-line no-console
				console.error(err);
			},
			setResource(company) {
				vm.drawer = false; //close the drawer when user selects a source
				//set ar_source this source is the selected company of filter
				vm.ar_source = company;
				//show the loader, loading spinner
				vm.loading = true;
				axios
					.get(`${server_api_endpoint}/Posts/GetPosts/${company.email}`) //get the posts based on the company email
					.then((response) => {
						//set the articles, append the articles
						vm.articles = response.data.msg;
						// eslint-disable-next-line no-console
						//console.log('data', this.articles[0]);
					})
					.catch((e) => {
						vm.errors.push(e);
						vm.$swal('Error', 'A network error occurred', 'error');
					})
					.finally(() => {
						//hide the loader
						vm.loading = false;
					});
			},
		},
	};
</script>
