<!-- @format -->

<template>
	<v-layout row wrap align-center justify-center>
		<v-flex xs11 sm11 md8 xl8>
			<div v-for="article in articles" :key="article.id">
				<v-card class="my-3" hover data-aos-easing="ease">
					<v-img height="350px" :src="getImgUrl(article.coverImage)" />
					<v-responsive>
						<v-container fill-height fluid>
							<v-layout>
								<v-flex xs12 align-end d-flex>
									<span class="headline">{{ article.title }}</span>
								</v-flex>
							</v-layout>
						</v-container>
					</v-responsive>
					<v-card-text>
						<div v-html="article.content"></div>
					</v-card-text>
					<v-card-actions>
						<v-chip small color="white" text-color="white">
							<time-ago
								class="white--text"
								:refresh="60"
								:datetime="Date.parse(article.date)"
								locale="en"
								tooltip
							></time-ago>
						</v-chip>

						<v-spacer></v-spacer>

						<v-btn icon class="red--text">
							<v-icon small>fa-reddit</v-icon>
						</v-btn>
						<v-btn icon class="light-blue--text">
							<v-icon small>fa-twitter</v-icon>
						</v-btn>
						<v-btn icon class="blue--text text--darken-4">
							<v-icon small>fa-facebook</v-icon>
						</v-btn>

						<v-btn icon class="red--text">
							<v-icon small>fa-google-plus</v-icon>
						</v-btn>

						<v-btn icon class="blue--text text--darken-4">
							<v-icon small>fa-linkedin</v-icon>
						</v-btn>

						<v-spacer></v-spacer>

						<!--<v-btn small replace color="info" target="_blank">Read More</v-btn>-->
					</v-card-actions>
				</v-card>
			</div>
		</v-flex>
	</v-layout>
</template>

<script>
	import TimeAgo from 'vue2-timeago';
	import { server_api_endpoint } from '../globals.js';
	export default {
		components: {
			TimeAgo,
		},
		props: {
			articles: Array,
		},
		data() {
			return {};
		},
		methods: {
			getImgUrl(img_path) {
				var image = `${server_api_endpoint}/Company/GetPicture?image_path=${img_path}`;
				return image;
			},
			mounted: function() {
				// eslint-disable-next-line no-console
				console.log('articles', this.articles);
			},
		},
	};
</script>

<style scoped>
	.v-time-ago__text {
		color: white !important;
	}
</style>
