<!-- @format -->

<template>
	<v-navigation-drawer
		v-model="drawer"
		fixed
		app
		clipped
		class="drawer-style"
		id="style-1"
	>
		<v-list-item
			dense
			class="pt-3 white--text"
			v-for="company in companies"
			:key="company.id"
			@click="selectSource(company)"
		>
			<v-list-item-avatar size="32px" class="elevation-4">
				<img
					class="img-circle elevation-10 mb-1"
					:src="getImgUrl(company.companyIcon)"
				/>
			</v-list-item-avatar>

			<v-list-item-content>
				<v-list-item-title
					v-text="company.name"
					class="white--text"
				></v-list-item-title>
				<v-list-item-subtitle
					class="grey-lighten-3--text"
					v-text="company.companySlogan"
				></v-list-item-subtitle>
			</v-list-item-content>

			<v-list-item-action>
				<v-btn icon>
					<v-icon color="white lighten-1">mdi-information</v-icon>
				</v-btn>
			</v-list-item-action>
		</v-list-item>
	</v-navigation-drawer>
</template>

<script>
	import axios from 'axios';
	import { server_api_endpoint } from '../globals.js';
	export default {
		props: {
			drawer: Boolean,
		},

		data: () => ({
			companies: [],
		}),

		created() {
			///pull the companies
			axios
				.get(`${server_api_endpoint}/Company/ListCompanies`)
				.then((response) => {
					//console.log("response.data", response.data);
					if (response.data.res == 'ok') {
						this.companies = response.data.msg;
					} else {
						// eslint-disable-next-line no-console
						console.error(response.data.msg);
						this.$swal('Error', 'A server error ocurred', 'error');
					}
				})
				.catch((e) => {
					// eslint-disable-next-line no-console
					console.error(e);
					this.$swal('Error', 'A network error ocurred', 'error');
				});
		},

		methods: {
			getImgUrl(img_path) {
				var image = `${server_api_endpoint}/Company/GetPicture?image_path=${img_path}`;
				return image;
			},
			selectSource(company) {
				//pass the entire company object as an event
				this.$emit('selectsource', company);
			},
		},
	};
</script>

<style scoped>
	#style-1::-webkit-scrollbar {
		width: 6px;
		background-color: #f5f5f5;
	}

	#style-1::-webkit-scrollbar-thumb {
		background-color: #f90;
		background-image: -webkit-linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.2) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, 0.2) 50%,
			rgba(255, 255, 255, 0.2) 75%,
			transparent 75%,
			transparent
		);
	}

	#style-1::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #f5f5f5;
	}

	.drawer-style {
		background-color: #2196f3 !important;
		border-color: #2196f3 !important;
	}
</style>
