<!-- @format -->

<template>
	<v-app light>
		<router-view></router-view>
		<v-footer class="secondary" app>
			<v-layout row wrap align-center justify-center>
				<v-flex xs12 align-center justify-center>
					<div class="white--text">
						<center>
							powered by rubiem innovations
						</center>
					</div>
				</v-flex>
			</v-layout>
		</v-footer>
	</v-app>
</template>
